<h3>CREATE UPCOMING TEST</h3>

<header>
  <nav>
    <div class="addbox">
      <button class="btn btn-primary" [routerLink]="['/manageupcomingtest']">Back</button>
    </div>
  </nav>
</header>

<div class="col-md-6">
  <form [formGroup]="createcom" (ngSubmit)="formSubmit()">
    <div class="form-group">
      <label>Batch and Topic Name</label>
      <select name="combinationId" formControlName="combinationId" class="form-control" (change)="onSelected($any($event.target).value)">
        <option value="" selected disabled>select Batch and Topic</option>
        <option *ngFor="let b of combo" [value]="b.batchTopicId">{{b.batchId}}{{b.topicId}}</option>
      </select>
    </div><br><br>
    <div class="form-group">
      <label>Retest Number</label>
      <input type="text" name="retestNo" formControlName="retestNo" class="form-control"  readonly="true" placeholder="retestNo" [(ngModel)]="retestNo">
    </div><br><br>
    <div class="form-group">
      <label>Date</label>
      <input type="datetime-local" name="selectDate" formControlName="selectDate" class="form-control">
    </div>
    <br><br>
    <button class="btn btn-primary w-25" type="submit">Submit</button>
  </form>
</div>