<h3>CREATE BATCH TRAINEE COMBINATION</h3>
<!-- <header>
    <nav>
        <div class="addbox">
            <button class="btn btn-primary" [routerLink]="['/manageBtCombination']">Show</button>
        </div>
    </nav>
</header> -->

<div class="col-md-6 ">

    <form [formGroup]="form" (ngSubmit)="comSubmit()">

        <div class="form-group">
            <label>Select Batch</label>
            <select name="batchId" formControlName="batchId" class="form-control">
                <option disabled selected value="">Select Batch</option>
                <option *ngFor="let b of batch" [value]="b.batchId">{{b.name}}</option>
            </select>
        </div><br><br>

        <!--
            
        -->

        <!-- <div class="vas-obs vas-selected" >
            <label formArrayName="trainees" *ngFor="let trainee of traineeFormArray.controls;let i=index;">
              <input type="checkbox" [formControlName]="i" [value]="traineeArr[i].zid" >{{traineeArr[i].zid}}{{traineeArr[i].name}}
            </label>
        </div> -->

        <label>Select Trainees</label>
        <table class="table table-bordered table-responsive" >
            <thead>
              <tr>
                <th></th>
                <th>Zid<i class="fa fa-sort"></i></th>
                <th>Name<i class="fa fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
        
              <tr formArrayName="trainees" *ngFor="let trainee of traineeFormArray.controls;let i=index;">
                <td> <input type="checkbox" [formControlName]="i" [value]="traineeArr[i].zid" ></td>
                <td>{{traineeArr[i].zid}}</td>
                <td>{{traineeArr[i].name}}</td>
              </tr>
            </tbody>
          </table>

        <button class="btn btn-success w-25" type="submit">submit</button>
    </form>
</div>