<h2>UPDATE UPCOMING TEST</h2>
<div class="col-md-6 offset-md-3">

    <div class="col-md-6">

        <form [formGroup]="updatesink" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label>Zid</label>
                <input type="text" name="zid" formControlName="zid" class="form-control" [(ngModel)]="upcomingData.zid">
            </div><br><br>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" formControlName="email" class="form-control"
                    [(ngModel)]="upcomingData.email">
            </div><br><br>
            <button class="btn btn-success w-25" type="submit">submit</button>
        </form>
    </div>