<h3>CREATE COMBINATION</h3>
<header>
    <nav>
        <div class="addbox">
            <button class="btn btn-primary" [routerLink]="['/managebtcombination']">Show</button>
        </div>
    </nav>
</header>

<div class="col-md-6 ">

<form [formGroup]="createcombination" (ngSubmit)="comSubmit()">

    <div class="form-group">
     <label>select Batch</label>
      <select  name="batchId" formControlName="batchId" class="form-control" >
        <option disabled selected value="">select batch</option>
        <option *ngFor="let b of batch" [value]="b.batchId">{{b.name}}</option>
       </select>
     </div><br><br>

    <div class="form-group">
     <label> Select Topic</label>
      <select  name="topicId" formControlName="topicId" class="form-control">
        <option selected disabled value="">select topic</option>
        <option *ngFor="let b of topic" [value]="b.topicId">{{b.topicName}}</option>
      </select>
    </div><br><br>
      
    <button class="btn btn-success w-25" type="submit">submit</button>
</form>
</div>