<h3>MANAGE COMBINATION</h3>
<header>
    <nav>
        <div class="addbox">
            <button class="btn btn-primary" [routerLink]="['/createbtcombination']">Add</button>
        </div>
    </nav>
</header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>BATCH NAME</th>
        <th>TOPIC NAME</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
</thead>
<tbody>
    <tr let *ngFor="let y of coms">
        <td>{{y.batchTopicId}}</td>
        <td>{{y.batchId}}</td>
        <td>{{y.topicId}}</td>
        <td><button (click)="updatecombination(y.batchTopicId)" class="btn btn-warning">Edit</button></td>
        <td><button (click)="deletecombination(y.batchTopicId)" class="btn btn-danger" style="margin-left: 10px;">Delete</button></td>
        
    </tr>
</tbody>
</table>
