<div class="col-md-6">
    <h3> Create Batch</h3>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" formControlName="name" [(ngModel)]="batch.name" class="form-control"
                id="name">
        </div><br>

        <div class="form-group">
            <label>Year</label>
            <input type="month" name="near" formControlName="year" [(ngModel)]="batch.year" class="form-control"
                id="year">
        </div><br>


        <button class="btn btn-success" type="submit">submit</button>

    </form>


</div>