@import "~bootstrap/dist/css/bootstrap.min.css";

h3 {
    margin-top: 10px;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
}
table{
    margin-top: 20px;
}
table.layout {
    table-layout: auto;
    width: 100%;
}
td {
    text-align: center;
}

th {
    text-align: center;
}