<h3>UPDATE UPCOMING TEST</h3>
<div class="mt-5 col-md-6">

    <form [formGroup]="updatecom" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>testId</label>
            <input type="text" name="testId" formControlName="testId" class="form-control" readonly
                [(ngModel)]="upcomingData.testId">
        </div><br><br>
        <div class="form-group">
            <label>Batch Name and Topic Name</label>
            <select name="combinationId" formControlName="combinationId" class="form-control" [(ngModel)]="upcomingData.combinationId" (change)="onSelected($any($event.target).value)">
                <option *ngFor="let d of combo" [value]="d.batchTopicId">{{d.batchId}}{{d.topicId}}</option>
            </select>
        </div><br><br>

        <div class="form-group">
            <label>Retest Number</label>
            <input type="text" name="retestNo" formControlName="retestNo" [(ngModel)]="upcomingData.retestNo"
                class="form-control" readonly="true">
        </div><br><br>

        <div class="form-group">
            <label>Date</label>
            <input type="datetime-local" name="selectDate" formControlName="selectDate" [(ngModel)]="upcomingData.selectDate"
                class="form-control">
        </div><br><br>

        <button class="btn btn-success w-25" type="submit">Update</button>
    </form>
</div>